.uiIconText{display:inline-block;padding-left:21px;position:relative}label.uiIconText{vertical-align:baseline}.uiIconText .img{left:0;position:absolute;top:-1px;vertical-align:middle}

#bootloader_1_4iK{height:42px;}.bootloader_1_4iK{display:block!important;}